
/************************ input */

.formInput {
  width: 100%;
  height: 30px; 
  font-size: 16px;
  border: 2px solid black;
  border-radius: 2px;
  /* box-sizing: border-box;  */
  outline: none;
  background-color: white;
}

.formInput:focus {
  border-color: green; /* darker green on focus */
  box-shadow: 0 0 3px #006400; /* Optional: green glow */
}

/************************ relative */

.formGroup {
  position: relative;
  width: 300px;  
}

.labelContainer {
    position: absolute;    
    top: -16px; 
    left: 8px;
    background-color: white;
    
}

.labelText { 
    font-size: 12px;
    font-style: normal;
    color: #007BFF; 
}

/************************ error */

.inputError {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

/************************ focus textfield  */
/*  
.form-input:focus {
  border-color: green;
}
   */
