/* relative : parent */

.box {
  position: relative;
  width: 300px;
  height: 600px;
  border: 2px solid black;
  background-color: gray;
  margin: 20px;
}

/* relative : children */
 
.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.top-center {
  position: absolute;
  color: #333;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-center {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.left-center {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.right-center {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

